<div class='download-files'>
  <div class='download-files__header'>
    <ul>
      <li><button>Checkbox</button></li>
      <li><p>Selected #</p></li>
      <li><button>Download button</button></li>
    </ul>
  </div>
  <div class='download-files-table'>
    <div class='download-files-table__header'>
      <ul>
        <li></li>
        <li><p>Name</p></li>
        <li><p>Device</p></li>
        <li><p>Path</p>></li>
        <li><p>Status</p></li>
      </ul>
    </div>
    <div class='download-files-table__row'>
      <ul>
        <li><button>Checkbox</button></li>
        <li><p>file.name</p></li>
        <li><p>DeviceName</p></li>
        <li><p>\\file\path\file.name</p></li>
        <li><p>Status</p></li>
      </ul>
    </div>
  </div>
</div>