<ul
  class='download-table-header downloads-table-columns table-border table-row-padding'
>
  <li> </li>
  <li><h3>Name</h3></li>
  <li><h3>Device</h3></li>
  <li><h3>Path</h3></li>
  <li class='download-table-header__status-column'><h3>Status</h3></li>
</ul>