<div class='download-files-table'>
  <DownloadsTableHeaderRow />
  {{#each @allFiles as |file|}}
    <DownloadsTableRow
      @fileName={{file.name}}
      @device={{file.device}}
      @path={{file.path}}
      @status={{file.status}}
    />
  {{/each}}
</div>