<div class='download-files-table__row'>
  <ul>
    <li><button type='button'>Checkbox</button></li>
    <li><p>{{@fileName}}</p></li>
    <li><p>{{@device}}</p></li>
    <li><p>{{@path}}</p></li>
    <li><p>{{@status}}</p></li>
  </ul>
</div>