<div class='download-files__header'>
  <ul>
    <li><button type='button'>Checkbox</button></li>
    <li><p>Selected #</p></li>
    <li><button type='button'>Download button</button></li>
  </ul>
</div>