<ul class='file-downloader-header downloads-table-columns'>
  <li><input type='checkbox' id='headerCheckBox' /></li>
  <li><p>Selected {{@numSelectedFiles}}</p></li>
  <li><button type='button'>Download button</button></li>
</ul>