.downloads-table-row {
  &:hover {
    background-color: $light-gray;
  }
}

.downloads-table-row--is-checked {
  background-color: $light-gray;
}

.downloads-table-row__status {
  display: flex;
  align-items: center;
}

.downloads-table-row__status-indicator {
  width: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

.downloads-table-row__status-indicator--isAvailable {
  height: 25px;
  background-color: greenyellow;
  border-radius: 50%;
}
