.display-flex {
  display: flex;
}

.downloads-table-columns {
  display: grid;
  align-items: center;
  grid-template-columns: 30px 2fr 2fr 5fr 2fr;
}

.table-border {
  border-bottom: 1px solid #d3d3d3;
}

.table-row-padding {
  padding-top: 8px;
  padding-bottom: 8px;
}
