body {
  font-family: Arial, Helvetica, sans-serif;
  color: $dark-gray;
}

h2 {
  font-size: 20px;
  line-height: 30px;
}

h3 {
  font-size: 20px;
  line-height: 25px;
}

p {
  font-size: 16px;
  line-height: 22px;
}
